/* Definitions that make the CSS compiler unhappy. */
#mainContent::-webkit-scrollbar {
  background-color: #fff;
  width: 8px;
}
#mainContent::-webkit-scrollbar-track {
}
#mainContent::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 2px;
}
