# EditorConfig helps maintain consistent coding styles
root = true

[*.md]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.sh]
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true

[*.ps1]
indent_style = space
indent_size = 2
end_of_line = crlf
insert_final_newline = true

[*.json]
indent_style = space
indent_size = 2
end_of_line = lf
