/* GTK 3.0 - Chicago95 "Advanced" Modular Import */

/* Core Configuration & Colors */
/* Note: Chicago95 defines colors in gtk.css, we'll keep ours but must ensure variable names match if Chicago95 uses specific ones.
   Chicago95 uses @bg_color, @base_color, etc. We need to map our retro variables or redefine them. */

/* Importing Chicago95 Modules */
@import url("gtk-widgets.css");
@import url("gtk-buttons.css");
@import url("gtk-scrollbar.css");
@import url("gtk-menu.css");
@import url("gtk-frames.css");
@import url("gtk-combobox.css");
@import url("gtk-entry.css");
@import url("gtk-scrolledwindows.css");
@import url("gtk-notebooks.css");
@import url("gtk-viewports.css");
@import url("gtk-linkbutton.css");

/* Overrides to ensure our specific Classic 98 palette sticks */
@define-color theme_fg_color #000000;
@define-color theme_bg_color #d4d0c8;
@define-color theme_text_color #000000;
@define-color theme_base_color #ffffff;
@define-color theme_selected_bg_color #0a246a;
@define-color theme_selected_fg_color #ffffff;

@define-color bg_color #d4d0c8;
@define-color base_color #ffffff;
@define-color text_color #000000;
@define-color selected_bg_color #0a246a;
@define-color selected_fg_color #ffffff;

/* Chicago95 specific variable mappings */
@define-color border_color #808080;
/* Shadow */
@define-color border_bright #ffffff;
/* Highlight */
@define-color border_dark #000000;
/* Black */
@define-color border_shade #808080;
/* Shadow */
@define-color border_shade_dark #404040;

/* Scrollbar specific */
@define-color scrollbar_bg_color #d4d0c8;
@define-color scrollbar_trough_bg_color #ffffff;
/* Win98 scrollbar tracks were dithered/white-ish */

/* Global Reset (optional but safe) */
* {
  font-family: "DejaVu Sans", sans-serif;
  font-size: 11pt;
}

/* XApps & GNOME Web specific retro tweaks (Windows 95/98) */
XedWindow,
XreaderWindow,
EphyWindow {
  background-color: @theme_bg_color;
}

XedWindow .view,
EphyWindow .view {
  background-color: @theme_base_color;
  color: @theme_text_color;
}

/* Xreader/Evince/Epiphany viewport (Retro dark grey background) */
EvView,
XreaderView,
EphyWebView {
  background-color: #7B7B7B;
}

/* Toolbar button adjustments */
XedWindow toolbar button,
XreaderWindow toolbar button,
EphyWindow toolbar button {
  border: 1px solid transparent;
}

XedWindow toolbar button:hover,
XreaderWindow toolbar button:hover,
EphyWindow toolbar button:hover {
  border: 1px solid @border_color;
  background-color: rgba(255, 255, 255, 0.1);
}