<?xml version="1.0"?>
<!-- labwc menu - Windows 95/98 Style -->
<!-- Path: ~/.config/labwc/menu.xml -->

<openbox_menu>
  
  <!-- Root menu (Desktop right-click) - Classic Win95 -->
  <menu id="root-menu" label="Context Menu">
    
    <menu id="arrange" label="Arrange Icons">
      <item label="by Name"><action name="Execute"><command>true</command></action></item>
      <item label="by Type"><action name="Execute"><command>true</command></action></item>
      <item label="by Size"><action name="Execute"><command>true</command></action></item>
      <item label="by Date"><action name="Execute"><command>true</command></action></item>
    </menu>

    <!-- "Line Up Icons" - Decoration only -->
    <item label="Line Up Icons"><action name="Execute"><command>true</command></action></item>

    <separator />
    
    <item label="Refresh">
      <action name="Reconfigure" />
    </item>

    <separator />

    <item label="Paste"><action name="Execute"><command>wl-paste</command></action></item>
    <item label="Paste Shortcut"><action name="Execute"><command>true</command></action></item>
    
    <separator />

    <menu id="new" label="New">
      <item label="Folder">
        <action name="Execute"><command>pcmanfm --new-win</command></action>
      </item>
      <item label="Shortcut">
        <action name="Execute"><command>true</command></action>
      </item>
      <separator />
      <item label="Text Document">
        <action name="Execute"><command>xed</command></action>
      </item>
      <item label="Bitmap Image">
        <action name="Execute"><command>mtpaint</command></action>
      </item>
    </menu>
    
    <separator />

    <!-- Essential Utilities disguised -->
    <item label="Properties">
       <action name="Execute"><command>alacritty -e vim ~/.config/labwc/rc.xml</command></action>
    </item>
    
    <separator />

    <item label="Run...">
      <action name="Execute"><command>wofi --show drun</command></action>
    </item>

    <item label="Shut Down...">
      <action name="Exit" />
    </item>
    
  </menu>
  
  <!-- Client menu (Window right-click on title bar) -->
  <menu id="client-menu" label="Window">
    
    <item label="Minimize">
      <action name="Iconify" />
    </item>
    
    <item label="Maximize">
      <action name="ToggleMaximize" />
    </item>
    
    <item label="Fullscreen">
      <action name="ToggleFullscreen" />
    </item>
    
    <separator />
    
    <item label="Move">
      <action name="Move" />
    </item>
    
    <item label="Resize">
      <action name="Resize" />
    </item>
    
    <separator />
    
    <item label="Always on Top">
      <action name="ToggleAlwaysOnTop" />
    </item>
    
    <separator />
    
    <item label="Close">
      <action name="Close" />
    </item>
    
  </menu>
  
</openbox_menu>
