/* GTK 3.0 CSS - Perfect Windows 95/98 Aesthetic Refinement */

/* Global Font */
* {
    font-family: "DejaVu Sans Bold", sans-serif;
    font-size: 11pt;
    -GtkHTML-cursor-color: #000000;
}

/* Base Colors */
@define-color retro_grey #c0c0c0;
@define-color retro_blue #000080;
@define-color retro_white #ffffff;
@define-color retro_shadow #808080;
@define-color retro_black #000000;
@define-color retro_light_grey #dfdfdf;

/* Global Backgrounds */
/* Global Backgrounds */
window,
.background,
text {
    background-color: @retro_grey;
    color: @retro_black;
}

/* ... 3D Borders Helper ... */
/* ... Buttons ... */
/* ... Input Entries ... */
/* ... Scrollbars ... */
/* ... Checkboxes ... */
/* ... Tabs ... */
/* ... Menus ... */

/* TreeView & IconView (File Manager content) */
.view,
treeview.view,
iconview {
    background-color: @retro_white;
    color: @retro_black;
    border: none;
}

.view:selected,
treeview.view:selected,
iconview:selected {
    background-color: @retro_blue;
    color: @retro_white;
}

column-header {
    background-color: @retro_grey;
    border: 1px solid @retro_black;
    box-shadow: inset 1px 1px @retro_white, inset -1px -1px @retro_shadow;
    padding: 2px;
}